.estilo{
    border: 10px dashed rgb(7, 109, 36);
    border-radius: 25px;
    background-color: rgb(178, 255, 181);
    width: max-content;
    font-size: 10mm;
    padding: 0mm 10mm;
}
.color{
    background-color: rgb(140, 252, 120);
}
.letra{
    font-size: 10mm;
}
.title{
    color: rgb(2, 117, 19);
    font-size: 20mm;
}
.imge{
    max-width:5cm;
    float: left;
    margin: 1cm 0 0 2mm;
}