.estilo{
    border: 10px dashed rgb(39, 0, 118);
    border-radius: 25px;
    background-color: rgb(73, 49, 255);
    width: max-content;
    font-size: 10mm;
    padding: 0mm 10mm;
    color: white;
}
.color{
    background-color: rgb(138, 136, 252);
}
.letra{
    font-size: 10mm;
}
.title{
    color: blue;
    font-size: 20mm;
}